<template data-template-id="home">
    <div id="home" data-role="page" data-title="Demo">
        <div data-role="header" data-position="fixed" data-tap-toggle="false" data-add-back-btn="false">
            <h1>Demo</h1>
        </div>
        <div data-role="content">
            <ul data-role="listview" data-inset="false">
                <li><a href="#page-1">Page 1</a>
                </li>
                <li><a href="#page-2">Page 2</a>
                </li>
                <li><a href="#dialog">Info Dialog</a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>

    demo.Controller.injectTemplate({
        context: document.currentScript,
        templateId: 'home'
    });

</script>